
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

body {
    background-color: #F4F4F4;
}

header {
    width: 100%;
    height: 100px;
    background-color: #002147;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav {
    width: 100%;
    height: 50px;
    background-color: #1C3D5A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s;
}

nav a:hover {
    background-color: #8A2BE2;
    border-radius: 8px;
    transform: scale(1.05);
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
      display: flex;
    align-items: stretch;
}

.left,
.right {
    flex: 1 1 25%;
    background-color: #3A7CA5;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /* max-height: 500px; */
    overflow-y: auto;
}

.left p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.middle {
    flex: 1 1 45%;
    background: linear-gradient(135deg, #8A2BE2, #B19CD9);
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.middle img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 3px solid white;
}

.middle ul li {
    margin-bottom: 8px;
    padding: 6px 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    transition: all 0.3s;
   
}

.middle ul li:hover {
    background-color: rgba(255,255,255,0.4);
    transform: scale(1.02);
}

footer {
    width: 100%;
    background-color: #002147;
    color: white;
    text-align: center;
    line-height: 60px;
    padding: 10px;
    margin-top: 20px;
}
